.button{
    background-color: darkgray;
    font-size: 50px;
    color: white;
    height: 100px;
    width: 100px;
}
  .button:hover{
    background-color: white;
    color:darkgray;
  }
input{
    height: 95px;
    font-size: 30px;
    width: 200px;
    margin: 5px;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
p{
    font-size: 50px;
}